header {
    width: 100%; /*se expande al ancho*/
    height: 62px;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    background-color: #093931;
    /* Coloca los elementos del header en vertical en pantallas muy pequeñas */
    justify-content: space-around;
    align-items: center;
    /*centra basado en las letras*/
    max-width: 1300px;
    min-width: 200px;
    /*extiende el ancho del navegador en diferentes pantallas (responsive)*/
    margin-left: auto;
    margin-right: auto;

}

.contenedor1nav {
    display: flex;
    background-color: none;
    align-items: center;
    text-decoration: none;


}

.contenedor2nav {
    justify-content: center;
    background-color: none;
    padding: 20px;
}

/*Estilo del inicio(Darling)*/

.inicio a {
    color: #F5D38E;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    /* 153.333% */
}

/* Estilo a los enlaces */
nav a {
    width: 1440px;
    height: 62px;
    flex-shrink: 0;
    padding: 10.5px 18.63px;
    align-items: flex-end;
    color: white;
    text-decoration: none;
    background-color: #093931;
    justify-content: space-around;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;

}

/*cambia el color cuando se para seobre un item*/
nav a:hover, nav button:hover {
    color: #F2C66D;
    cursor: pointer;
}

/* estilo a  botones */
nav button {
    background-color: #093931;
    padding-top: 1%;
    padding-bottom: 1%px;
    border: none;
    cursor: pointer;


}

/*estilo a las imágenes dentro de los botones */
button img {
   
    
}


.caja1 {
    background-color: #093931;
    max-width: 1300px;
    min-width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 700px;


}

div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: #F5D38E;
    font-size: 3vw;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    word-wrap: break-word;
    text-align: justify;


}

.superponer {
    position: absolute;
    top: 10%;
    right: 26%;


}

/*//////////////////////////////////
/*Propiedades que me ayudan a ubicar la  multimedia derecha del primer contededor y la caja derecha*/
/*///////////////////////////////////////////*/
.foto_portada {
    width: 407px;
    height: 543px;
    flex-shrink: 0;
    object-fit: contain;
    /*conserva la dimensión*/
    position: absolute;
    /*elelemento se coloca*/
    bottom: 139px;
    top: 26px;
    right: 78%;

}

.video_portada {
    width: 321px;
    height: 251px;
    object-fit: contain;
    position: relative;
    right: 32%;
    margin-top: 110px;

}

.superponer button {
    padding: 10.50px;
    background: none;
    border-radius: 26px;
    overflow: hidden;
    width: 31px;
    height: 31px;
    position: relative;

    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    width: 10px;
    height: 10px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*centra el icono play*/
    display: inline-flex;
    width: 50px;
    /*redondea el icono*/
    height: 50px;
    /*redondea el icono*/
    border: 2.66px #EFFDFA solid;
    right: 27%;
    


}