body {
    margin: 0;
}

.contenedor-principal {
    background-color: #e1fcf7;
    display: flex;
    flex-direction: column;
    /*pone en columna el padre e hijos que son contenedor header principal y caja 1) */
    align-items: center;
    /*estos pading se aplican al bloque entero manteniendo a proporción*/
    padding-left: 150px;
    padding-right: 150px;
}

.header-principal {
    width: 100%;
    display: flex;
    background-color: #093931;
    /* Coloca los elementos del header en vertical en pantallas muy pequeñas */
    align-items: center;
    flex-wrap: wrap;
    padding-top: 12px;
}

.header-principal-izquierdo {
    display: flex;
    justify-content: start;
    width: 45%;
}


/*Estilo del inicio(Darling)*/

.header-logo {
    margin: 5px;
    color: #F5D38E;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
}

.header-principal-derecho {
    display: flex;
    justify-content: start;
    width: 50%;
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


/* Estilo a los enlaces */

.link-navegacion {
    padding: 10.5px 18.63px;
    /*para separ los items*/
    color: white;
    text-decoration: none;
    background-color: #093931;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}


/*cambia el color cuando se para seobre un item*/

.link-navegacion:hover {
    color: #F2C66D;
    cursor: pointer;
}


/* estilo a  botones */

.menu button {
    background-color: #093931;
    padding-top: 1%;
    padding-bottom: 1%px;
    border: none;
    cursor: pointer;
}

.banner-principal {
    background-color: #093931;
    display: flex;
    /*hijos flexibles */
    align-items: center;
    justify-content: center;
    /*para darles 50% width a cada  uno*/
    height: 700px;
}


/*parte izquierda del  barner////////////////*/

.contenedor-titulo {
    margin: 5px;
    text-align: start;
    font-size: 60px;
    font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
    color: #F5D38E;
    word-wrap: break-word;
    width: 43%;
}

.boton-comprar-ahora {
    padding: 18px;
    margin: 5px;
    border-radius: 26px;
    border: 1px solid #FFF;
    background-color: #093931;
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    line-height: 22px;
    line-height: 17px;
    /* 155.556% */
}

.boton-comprar-ahora:hover {
    color: #F2C66D;
    cursor: pointer;
}


/*parte derecha del barne//////////////////////////*/

.contenedor-multimedia {
    display: flex;
    flex-grow: 1;
}

.foto-portada {
    object-fit: contain;
    /*conserva la dimensión*/
    width: 429px;
    height: 493px;
    z-index: 0;
    top: 50%;
    left: 3;
}

.video-portada {
    object-fit: contain;
    width: 521px;
    height: 251px;
    z-index: 1;
    transform: translate(-50%, 50%);
    /*mueve la imagen*/
}

.boton-multimedia {
    z-index: 1;
    transform: translate(-1050%, 470%);
    padding: 10.50px;
    background: none;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*centra el icono play*/
    display: inline-flex;
    width: 50px;
    /*redondea el icono*/
    height: 50px;
    /*redondea el icono*/
    border: 2.66px #EFFDFA solid;
    right: 27%;
}

/* Estilos de la sección contenedor-principal2 */
.contenedor-principal2 {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: white;
}

.contenedor-servicios {
    flex: 1;
    text-align: center;
    margin-bottom: 10px;
}

/* Resto de los estilos*/
.icono-servicios {
    width: 62px;
    height: 62px;
}

.titulo-servicios {
    color: #171A1F;
    font-size: 18px;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 600;
    line-height: 10px;
    word-wrap: break-word;
}

.texto-servicios {
    color: #9095A0;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    text-align: center;
}


/*Carrusel 1//////////////////////////////*/

.contenedor-principal3 {
    background-color: #eb2222;
    display: flex;
    /*estos pading se aplican al bloque entero manteniendo a proporción*/
    padding-left: 150px;
    padding-right: 150px;
}

.titulo-carrusel1 {
    color: #093931;
    font-family: 'Cormorant Garamond', serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 60;
    line-height: 78px;
}

.contenedor-carrusel1-texto {
    width: 20%;
    background-color: #FFF;
}

.texto-carrusel1 {
    margin: 5px;
    color: #9095A0;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.fotos-carrusel1 {
    display: flex;
    width: 80%;
    background-color: #FFF;
}

.galeria-carrusel1 {
    max-width: 100%;
    object-fit: contain;
    /*conserva la dimensión*/
    width: calc(100% / 4 - 60px);
    height: 320px;
    margin: 0px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100px;
}

.ref-precio {
    max-width: 100%;
    color: #171A1F;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    margin-top: px;
}

